<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>Access pages for Employees, Trainers and Records via url, e.g. /employees</p>
<%# Couldn't manage links to pages on home page%>
<%= @response %>
<hr />
<%= @categories%>

<%# @categories %>

<% @categories.each do |cat| %>
    <p><%#= cat["division"] %></p>
    
<% end %>
<%#= @cat_facts %>

<%# @cat_facts.each do |fact| %>
    <p><%#= fact %></p>
<%# end %>